
      .hNav
      {
		   margin: auto;
       display: block;
       box-sizing: border-box;
      }
        
      .hNav a 
      {
        text-decoration: none;
        color: white;
        font-family:sans-serif;
        padding: 0px 10px;
        float:left;
       }

.hNav a:hover
{
  text-decoration:underline;
}
            
      	.hNav2
      	{
      	  box-sizing:border-box;
      	}
        
        .hNav2 a 
        {
           text-decoration: none;
           color: white;
          /* font-family: Cooper Hewitt; */
          font-family:sans-serif;
           display: block;
        	 float:right;
        	 padding:0px 10px;
        }

      
      .hNav2 a:hover
      {
        background-color: #8e9864;
        transition:0.4s ;
      }
      

       .hLogo
      {
        float: left;
        color: white;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: bold;
        padding-left:30px;
        line-height:100px;
       }

        header 
      	{
          height: 700px;
            background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
    url(https://images.pexels.com/photos/4551567/pexels-photo-4551567.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
          box-sizing: border-box;
          background-size: cover;  
          width:100%;
        }

      .inHeader
      {
        background-color: rgba(0,0,0,0.9);
        display: block;
        line-height: 100px;
        height:100px;
        width:100%;
        display: flex;
        position:fixed;
        z-index:10;
        box-sizing: border-box;
      }
      
      html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div
      {
        margin: 0;
        padding: 0;
  }

/*BODY*/

.About
{
 padding:40px 50px;
 /* background-color:orange; */
}

.abContainer
{
  background-color:white;
  text-align:center;
  padding-bottom:50px;
}

.abContainer h1
{
  margin-bottom:10px;
  font-size:72px;
}

.abContainer p
{
  line-height:24px;
}
.abParent
{
 display:flex; 
}
.abChild1
{
  width:33.3%;
  box-sizing:border-box;
}

.abImg
{
  width:99%;
  height:100%;
  filter: brightness(90%);
}

.abImg:hover
{
   filter: brightness(110%);
}


hr
{
  width:10%;
  border:2px solid orange;
  background-color: orange;
  margin-top:27px;
  margin-bottom:30px;
}

/*MORE*/
.mnContainer h1
{
  text-align:center;
  font-size:72px;
  color:white;
}

.Menu
{
 /* background-color:mistyrose; */
  background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(https://images.pexels.com/photos/1049626/pexels-photo-1049626.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
background-size:cover;
width:100%;
height:590px;
}

.mnContainer
{
  padding:50px;
}
.menuPr
{
 display:flex;
  background-color:white;
  margin:50px 180px;
  border-radius:3px;
}

.menuPr:hover, menuImg:hover
{
  transform: scale(1.02);
  transition:all 0.9s;
}

.menuCh2 p
{
  padding:10px 30px;
  text-align:justify;
  position:relative;
  top:80px;
}

.menuCh2 h3
{
  padding:5px 30px;
  text-align:justify;
  position:relative;
  top:70px;
  font-size:30px;
}

.menuImg
{
  width:100%;
  height:100%;
  filter:brightness(130%);
}

.headerText
{
  position:relative;
  color:white;
  
  font-family:Montserrat;
}
.headerText h1
{
  position:absolute;
  top:130px;
  left:520px;
  padding-top:90px;
  font-size:80px;
}

.headerText h3
{
  position:absolute;
  top:325px;
  left:600px;
}

.headerText p
{
  position:absolute;
  left:490px;
  font-size:20px;
   padding-top:360px;
  opacity:0.8;
}

.ourMenu
{
  position:absolute;
  left:578px;
  font-size:20px;
  top:430px;
  text-decoration:none;
  color:white;
  font-weight:bold;
 /* background-color:white;*/
  padding:12px;
  font-size:15px;
  border:1px solid #fff;
  border-radius:3px;
}

.ourMenu:hover
{
  background-color:white;
  color:#1a1c1e;
  transition:0.4s;
}

.footerPr
{
  background-color:white;
  height:380px;
  display:flex;

}

.footerCh1
{
  background-color:papayawhip;
  width:50%;
  box-sizing:border-box;
 
}

.footerCh2
{
  width:50%;
  box-sizing:border-box;
  padding-top:50px;
  padding-left:70px;
}

.footerCh1 img
{
  width:100%;
  height:100%;
  filter:brightness(110%);
}

.footerCh2 
{
  padding-bottom:20px;
  font-size:25px;
}

input[type="text"]
{
  border:0px;
  padding:10px;
  text-align:center;
  margin-top:10px;
  background-color:rgba(243, 241, 239, 1);
}

.footerCh2 a
{
  background-color:#373737;
  display:inline-block;
  text-decoration:none;
  padding:9px;
  color:lightgrey;
 font-family:sans-serif;
 font-size:14px;
  border-radius:3px;
}

.fa-map-marker
{
  padding-left:4px;
  padding-top:10px;
  background-color:rgba(255, 255, 255, 0.9);
  text-align:center;
  
}

.btn
{
  border: none;
  color: white; 
  padding: 17px 19px; 
  font-size: 14px; 
  cursor: pointer; 
  border-radius:50px;
  background-color: #373737;
	text-align:center;
	margin-right:2px;
}

.btn:hover {
  background-color: grey;
}

.address
{
  font-size:15px;
  font-family:sans-serif;
  padding-left:7px;
}

.footerCh2 h1
{
  font-size:40px;
}
